html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
header {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 70px;
    background-color: rgb(105, 0, 0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
    .logo {
        padding: 15px 30px;
        height: 40px;
    }
    .high-score {
        float: right;
        padding: 20px 40px;
        font-size: 30px;
        line-height: 30px;
        background-color: rgb(190, 127, 50);
        color: #FFF;
    }
        .high-score .fas {
            padding-right: 10px;
        }
        .high-score img {
            height: 30px;
            margin: 0px 0px -5px 5px; 
        }

aside {
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 25%;
    height: calc(100% - 70px);
    background-color: rgb(119, 61, 61);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
    aside > div {
        height: calc(50% - 30px);
        width: calc(100% - 30px);
        overflow: auto;
        padding: 15px;
    }
    .score {
        width: calc(100% - 34px);
        float: left;
        border: 2px solid #f79121;
        color: white;
        padding: 15px;
        border-radius: 5px;
        font-size: 1.4em;
    }
        .score span {
            float: right;
            font-weight: bold;
        }
        .score img {
            float: right;
            height: 1.3em;
            margin-left: 10px;
        }
    canvas {
        display: block;
        padding-top: 15px;
        width: 100%;
        height: calc(100% - 1.5em - 60px);
        margin: 0 auto;
    }
    #steps .step {
        display: table;
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid rgb(65, 26, 26);
    }
        #steps .icon-step {
            display: table-cell;
            vertical-align: middle;
            width: 36px;
            font-size: 24px;
            text-align: center;
            color: white;
            padding-right: 15px;
        }
        #steps .message-step {
            display: table-cell;
            vertical-align: middle;
            color: white;
        }
section {
    position: absolute;
    top: 70px;
    left: 25%;
    width: calc(75% - 60px);
    height: calc(100% - 130px);
    padding: 30px;
}
    .game {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        margin: 0 auto;
    }
        #line-win {
            display: none;
            position: absolute;
            height: 10px;
            border-radius: 5px; 
            background-color: #f79121;
            transform-origin: 0% 0%;
        }
        .game div {
            display: none;
            height: 33%;
            border-radius: 10px; 
            cursor: pointer;
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat; 
        }
            .bd-r {
                border-right: 4px solid rgb(105, 0, 0);
            }
            .bd-l {
                border-left: 4px solid rgb(105, 0, 0);
            }
            .bd-t {
                border-top: 4px solid rgb(105, 0, 0);
            }
            .bd-b {
                border-bottom: 4px solid rgb(105, 0, 0);
            }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(119, 61, 61); 
}
::-webkit-scrollbar-thumb {
    background: #f79121;
    border-radius: 4px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #a0590d; 
}